@import './../../styles/vars.scss';

.demoBtn {
    display: inline-block;       
    padding: 8px 18px;
    color: $text-color;
    border: 1px solid #CED2DA;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease-in;

    &:hover {
        background-color: #CED2DA;
        color: $text-color;
    }
}

.demoBtn__text {
    display: flex;
    align-items: center;
    column-gap: 12px;
}