@import './../../styles/vars.scss';

.streamline {
    margin-bottom: 80px;

    &__header {
        margin-top: 80px;
        margin-bottom: 32px;
    }

    &__benefits {
        display: flex;
        justify-content: center;
        column-gap: 32px;
    }

    &__benefit {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        align-items: center;

        img {
            padding: 10px;
            background-color: $light-white;
            border-radius: 50%;
        }

        h5 {
            margin-top: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.56;
        }
    }

    &__btns {
        display: flex;
        column-gap: 12px;
        justify-content: center;
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    .streamline__benefits {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
}