@import './../../styles/vars.scss';

.benefits__card {
    img {
        padding: 11px;
        background-color: $light-white;
        margin-bottom: 16px;
        border-radius: 12px;
    }

    h4 {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.4;
        color: $blue-text;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        color: $blue-text;
    }
}