@import './../../styles/vars.scss';

.header {
    margin-top: 18px;
    margin-bottom: 90px;

    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: $text-color;
        transition: all 0.15s ease-in;

        &:hover {
            color: #888f99;
        }
    }

    nav {
        margin-top: 25px;
    }

    .header__btn {
        a {
            color: #fff;
        }
    }

    &__navBtn {
        display: none;
    }
}

@media (max-width: 886px) {
    .header {
        &__navBtn {
            display: block;
        }

        .nav {
            display: none;
        }
    }
}