@import './../../styles/vars.scss';

.benefits {
    margin-top: 96px;
    margin-bottom: 149px;

    &__header {
        margin-bottom: 133px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        margin-right: 32px;
    }

    &__img {
        border-radius: 15px;
    }
}

@media (max-width: 1198px) {
    .benefits {
        &__header {
            margin-bottom: 72px;
        }

        &__desc {
            row-gap: 24px;
            margin-bottom: 48px;
        }

        
    }
}